<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.PlapsaConnectionString"
            connectionString="Data Source=JORGE-EXO-PC\MSSQL;Initial Catalog=Plapsa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>